{% extends 'base.html' %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}api-key registration{% endblock %}
{% block content %}

<div class="centered">

    <form
            method="POST"
            action="{{ url_for('api.register_api_key') }}"
            onsubmit="{{ form.submit }}"
    >    {{ form.csrf_token }}

        {{ wtf.form_field(form.api_key, class="form-control form-control-lg",placeholder="Enter your api key.")}}

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
{% endblock %}