{% extends 'base.html' %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}Symbol search analytical{% endblock %}
{% block extra_css %}
<link rel="stylesheet" type="text/css"
      href="{{ url_for('static', filename='css/symbol_search_analytical.css') }}">
{% endblock %}
{% block extra_nav_item %}
<li class="nav-item">
    <a class="nav-link"
       href="{{ url_for('api.symbol_search') }}">Search Symbol
        <span class="sr-only">(current)</span></a>
</li>
<li class="nav-item">
    <a class="nav-link"
       href="{{ url_for('api.symbol_search_analytical', symbol=symbol) }}">
        Search Symbol analytics
        <span class="sr-only">(current)</span></a>
</li>
{% if error is not defined %}
<li class="nav-item">
    <a class="nav-link"
       href="{{ url_for('api.historical_data',symbol=symbol) }}">Historical
        Data
        <span class="sr-only">(current)</span></a>
</li>
{% endif %}
{% endblock %}
{% block content %}

{% if error is defined %}
<div class="error-message">
    {{error.message|safe}}
</div>
{% else %}
<h1 class="core-details">Core Details</h1>
<table class="table" xmlns="http://www.w3.org/1999/html">
    <thead>
    <tr>
        {% for col in columns %}
        <th>{{ col }}</th>
        {% endfor %}
    </tr>
    </thead>
    <tbody>
    <tr>
        {% for value in data.values() %}
        <td>{{value}}</td>
        {% endfor %}
    </tr>
    </tbody>
</table>
{% endif %}
{% endblock %}
{% block extra_js %}
<script src="static/js/symbol_search_analytical.js"></script>
{% endblock %}