{% extends 'base.html' %}
{% block title %}Historical data | {{symbol}}{% endblock %}
{% block extra_css %}
<link rel="stylesheet" type="text/css"
      href="{{ url_for('static', filename='css/historical_data.css') }}">
{% endblock %}
{% block extra_nav_item %}
<li class="nav-item">
    <a class="nav-link"
       href="{{ url_for('api.symbol_search') }}">Search Symbol
        <span class="sr-only">(current)</span></a>
</li>
<li class="nav-item">
    <a class="nav-link"
       href="{{ url_for('api.symbol_search_analytical', symbol=symbol) }}">
        Search Symbol analytics
        <span class="sr-only">(current)</span></a>
</li>
<li class="nav-item">
    <a class="nav-link"
       href="{{ url_for('api.current_quote', symbol=symbol) }}">
        Current Quote
        <span class="sr-only">(current)</span></a>
</li>
{% endblock %}
{% block right_nav_item %}
<i class="fa fa-refresh refresh-icon" aria-hidden="true"></i>

{% endblock %}
{% block content %}
<div class="container-fluid">
    <div class='row justify-content-center mt-3'>
        <div class="dropdown show">
            <a class="btn btn-secondary dropdown-toggle" href="#" role="button"
               id="intervalDropdownMenuLink" data-toggle="dropdown"
               aria-haspopup="true"
               aria-expanded="false">
                Intraday
            </a>
            <div class="dropdown-menu"
                 aria-labelledby="intervalDropdownMenuLink">
                <a class="dropdown-item" onclick="" href="#">Intraday</a>
                <a class="dropdown-item" href="#">Daily</a>
                <a class="dropdown-item" href="#">Weekly</a>
                <a class="dropdown-item" href="#">Monthly</a>
            </div>
        </div>
        <div class="dropdown show interval-dropdown">
            <a class="btn btn-secondary dropdown-toggle" href="#" role="button"
               id="timeDropdownMenuLink" data-toggle="dropdown"
               aria-haspopup="true"
               aria-expanded="false">
                1min
            </a>
            <div class="dropdown-menu" aria-labelledby="timeDropdownMenuLink">
                <a class="dropdown-item" onclick="" href="#">1min</a>
                <a class="dropdown-item" href="#">5min</a>
                <a class="dropdown-item" href="#">15min</a>
                <a class="dropdown-item" href="#">30min</a>
                <a class="dropdown-item" href="#">60min</a>
            </div>
        </div>
    </div>
    <div class="col chart-wrapper">
        <canvas id="intradayChart"></canvas>
    </div>
</div>
{% endblock %}
{% block extra_js %}
<script>
  window.historical_data_url = "{{url_for('api.historical_data', symbol=symbol)}}";
</script>
<script src="{{ url_for('static', filename='js/historical_data.js') }}"></script>
{% endblock %}